@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mukta:wght@300;400;700&display=swap');
:root{
    --font-Mooli : 'Mooli', sans-serif;
    --font-Mukta : 'Mukta', sans-serif;
    --primary-color : #141414;
    --secundary-color: #B300B2;
    --tertiary-color: #0E0E0E;
    --fourt-color: #FF00FF; 
    --primary-text-color: #efefef;
    --secundary-text-color: #cccccc;
}
