@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Mukta:wght@300;400;700&display=swap');
:root{
    --font-Mooli : 'Mooli', sans-serif;
    --font-Mukta : 'Mukta', sans-serif;
    --primary-color : #141414;
    --secundary-color: #FF00FF;
    --tertiary-color: #0E0E0E;
    --fourt-color:   #f27a8a; 
    --primary-text-color: #cccccc;
    --secundary-text-color: #d6d6d6;
}
// #B300B2
// #efefef