@use '../abstracts/mixins';
.footer-section{
    background-color: var(--primary-color);
}
.footer-container{
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 5em;
    color: var(--fourt-color);
    font-weight: 200;
    h3{
        font-size: 2em;
        font-weight: 700;
    }

    .contact{
        font-size: 1.5em;
        margin-top: 1em;
        li{
            margin: 1em 0;
            a{
                padding-bottom: 3px;
                &:hover{
                    border-bottom: 1px solid #f5f5f5;
                    transition: .3s ease-in-out;
                    color: #f5f5f5;
                }
            }
        }
    }

    .footer-date{
        span{
            font-size: 1.5em;
            font-weight: 700;
            margin-top: 1em;
            color: var(--fourt-color);
        }
    }
}

@include mixins.tablet{
    .footer-section{
        .footer-container{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

@include mixins.lapto{
    .footer-section{
        .footer-container{
            padding-top: 12em;
            padding-bottom: 12em;
        }
    }
}

@include mixins.desktop{
    .footer-section{
        .footer-container{
            max-width: 1024px;
            margin: 0 auto;
        }
    }
}