@use '../abstracts/mixins';
.profile-div{
    background-color: var(--primary-color);
}
.profile{
    // background: linear-gradient(90deg, var(--primary-color) 67%, var(--tertiary-color) 33%);
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 5em;
    &__container{
        .article{
            &__container{
                h1{
                    font-size: 3em;
                    color: var(--fourt-color);
                }
                .article__paragrah{
                    margin: 1em 0;
                    font-size: 1.5em;
                    line-height: 1.2;
                    color: var(--primary-text-color);
                }
            }
        }

        .about-me{
            margin: 4em 0;
            &__container{
                display: flex;
                column-gap: 1.2em;
                align-items: baseline;
                li{
                    line-height: 1.2;
                    color: var(--primary-text-color);
                    font-weight: 300;
                }
            }
        }

        
    }
    &__photo{

        .photo-container{
            text-align: center;
            &__photo{
                width: 12em;
                border-radius: 10px;
            }
        }
    }
}

@include mixins.tablet{
    .profile{
        display: flex;
        align-items: center;
        padding-bottom: 5em;
        &__container{
            padding-right: 3em;
        }
    }
}
@include mixins.lapto{
    .profile-div{
        .profile{
            padding-top: 12em;
            padding-bottom: 12em;
        }

    }
}
@include mixins.desktop{
    .profile{
        max-width: 1024px;
        margin: 0 auto;
    }
}
