@use '../abstracts/mixins';
.tools-section{
    background-color: var(--primary-color);
}
.tools{
    
    padding-top: 5em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 5em;
    &-container{
        margin-bottom: 3em;
        &__title{
            font-size: 3em;
            color: var(--fourt-color);
            font-weight: 700;
        }

        &__paragrah{
            margin-top: 1em;
            margin-bottom: 3em;
            line-height: 1.6;
            color: var(--primary-text-color);
        }
    }

    &-description{
        &__title{
            font-size: 3em;
            color: var(--fourt-color);
            font-weight: 700;
        }
        &__container{
            margin-top: 0.7em;
            padding-bottom: 0.7em;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 1em ;
            .tools-icons{
                width: 6.5em;
                height: 6.5em;
                cursor: pointer;
                fill: var(--secundary-text-color);
                transition: 0.1s ease-in-out all;
                &--html:hover{
                    fill: #E34F26;
                }
                &--css:hover{
                    fill: #1572B6;
                }
                &--javascript:hover{
                    fill: #F7DF1E;
                }
                &--react:hover{
                    fill: #09D3AC;
                }
                &--redux:hover{
                    fill: #764ABC;
                }
                &--sass:hover{
                    fill: #CC6699;
                }
                &--tailwind:hover{
                    fill: #06B6D4;
                }
                &--typescript:hover{
                    fill: #3178C6;
                }
                &--git:hover{
                    fill: #F05032;
                }
                &--github:hover{
                    fill: #f5f5f5;
                }
                &--figma:hover{
                    fill: #F24E1E;
                }
                &--trello:hover{
                    fill: #0052CC;
                }
            }
        }
    }

}

@include mixins.tablet{
    
        .tools{
            padding-bottom: 5em;

        }
    
}

@include mixins.lapto{
    .tools-section{
        .tools{
            padding-top: 12em;
            padding-bottom: 12em;
        }
    }
}

@include mixins.desktop{
    .tools-section{
        .tools{
            max-width: 1024px;
            margin: 0 auto;
        &-description{
            &__container{
                // gap: 0;
                // justify-content: flex-start;
                gap: 3em;
            }
        }
    }
    }
}

